<% provide :title, t(".list") %>
<%= render 'layouts/slides' %>
<div class="container text-center">    
  <h3><%= t ".list" %></h3><hr>
  <div class="row">
    <% @books.each do |book| %>
    <div class="col-sm-3">
      <div class="thumbnail">
          <%= image_tag book.image %>
          <h4><%= book.name %></h4>
          <p><%= link_to book.author.name %></p>
          <button class="btn btn-success"><%= t '.detail' %></button>
        </div>
    </div>
    <% end %>
  </div><hr>
  <ul class="pager">
    <li><a href="#"><%= t '.previous' %></a></li>
    <li><a href="#"><%= t '.next' %></a></li>
  </ul> 
</div>
